In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import itertools
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
data = pd.read_csv("Dataset\preprocessed.csv")

In [3]:
data

,Headline,Body,Label
0,category 6? if hurricane irma becomes the stro...,Meteorologists have been shocked at how rapidl...,0
1,frenchwoman garcia completes wta finals field,(Reuters) - Frenchwoman Caroline Garcia became...,1
2,pre-order the rotoprofessor 2018 fantasy baseb...,(Before It's News)\nIt’s that time of year aga...,0
3,trump to make 'important announcement' on nort...,US president Donald Trump has revealed that he...,0
4,england women: mo marley names first england s...,Mo Marley was named interim manager following ...,1
...,...,...,...
4004,video captures fistfight between passengers on...,A flight from Tokyo to Los Angeles was delayed...,0
4005,"u.s. helicopter crashes on okinawa, adding to ...",TOKYO — A transport helicopter made an emergen...,1
4006,trump administration formally lifts sanctions ...,"But she added, “Any further normalization of t...",1
4007,new video emerges raising questions of overlap...,By Rachel Blevins\nA new video has emerged fro...,0
4008,active shooter reported near las vegas casino,A Potato Battery Can Light up a Room for Over ...,0